.form-pill {
    @extend .badge;
    @extend .bg-primary;

    margin: .125rem .5rem .125rem 0;
}

.form-pill-text {
    @extend .text-truncate;
}

.form-pill-remove {
    padding: $badge-padding-y $badge-padding-x;
    margin: calc($badge-padding-y * -1) calc($badge-padding-x * -1) calc($badge-padding-y * -1) 0;
    cursor: pointer;
}

.form-pill-remove::after {
    content: 'x';
}

.form-pill-input-item {
    max-width: 100%;
}

.form-pill-input {
    background: transparent;
    border-width: 0;
    color: $input-color;
    outline: 0;
    padding: 0;
}

.form-pill-input-sizer {
    height: 0;
}
