// Button state
//

$button-state-icon-vertical-align: $spinner-vertical-align !default;


// Form image
//

$form-image-size: 4rem !default;
$form-image-width: $form-image-size !default;
$form-image-height: $form-image-size !default;

$form-image-border-radius: $input-border-radius !default;
$form-image-border-width: $input-border-width !default;
$form-image-border-color: $input-border-color !default;

$form-image-background-color: $input-bg !default;
$form-image-upload-icon-color: $form-image-border-color !default;
$form-image-upload-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$form-image-upload-icon-color}' viewBox='0 0 16 16' width='16' height='16'><path d='M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z'/><path d='M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z'/></svg>") !default;
$form-image-upload-icon-size: 1rem !default;

$form-image-btn-edit-size: 1rem !default;
$form-image-btn-edit-width: $form-image-btn-edit-size !default;
$form-image-btn-edit-height: $form-image-btn-edit-size !default;

$form-image-btn-edit-border-radius: $btn-border-radius-sm !default;

$form-image-btn-edit-spacing: $input-padding-y !default;
$form-image-btn-edit-top: $form-image-btn-edit-spacing !default;
$form-image-btn-edit-right: $form-image-btn-edit-spacing !default;

$form-image-btn-edit-color: $white !default;
$form-image-btn-edit-bg-color: rgba($dark, .8) !default;
$form-image-btn-edit-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$form-image-btn-edit-color}' viewBox='0 0 16 16'><path d='M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z'/></svg>") !default;
$form-image-btn-edit-icon-size: .5rem !default;


// Table image
//

$table-sort-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$table-color}' class='bi bi-chevron-down' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
