name: Test

on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-node@v2
      with:
        node-version: 16.13.0
        cache: yarn
        
    - name: Yarn
      run: yarn

    # TODO:
    # - name: Lint
    #   run: yarn lint --no-fix

    - name: Test
      run: yarn test
